<div class="account_confirmed">
  <p translate>i_am_a_full_sentence_with_commas_and_a_period</p>
</div>

<header class="page_header Word">
  <h3>{{'i_am_a_phrase' | translate}}</h3>
</header>

<footer>
  <md-button class="md-raised md-primary" type="submit" ng-click="continue()">Word</md-button>
</footer>

<p>{{loadingMsg}}</p>
<i class="material-icons">clear</i>
<i class="material-icons">star</i>
<md-icon class="md-raised md-primary" type="submit" ng-click="continue()">up_arrow</md-icon>
<span translate>i_am_a_phrase</span>
<span translate>i_am_a_phrase_without_a_key</span>
<span><span translate>i_am_a_phrase</span></span>
<span><span>I am just a word</span></span>